 /* ! inicio parte login */
 #bodyForms {
    height: 50vw;
    padding-top: 80px;
  }
  form {
    margin: 0px 32vw;
    margin-bottom: 0px;
    border: black solid 1px;
    height: 70%;
    width: 550px;
    align-items: center;
    padding: 20px;
  }
  form img {
    width: auto;
    height: auto;
    margin-left: 140px;
    margin-bottom: 50px;
  }
  form input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px #C3C6A8 solid;
    width: 100%;
    margin-bottom: 20px;
  }
  form input::placeholder {
    font-size: 18px;
  }
  form button {
    background-color: #c6c6c6;
    margin-left: 20%;
    height: 40px;
    width: 300px;
    font-size: 20px;
    border: none;
    text-align: center;
  }
  /* ! fin parte login */
/* ! inicio elements*/
#elements {
  min-width: 250px;
  margin: 30px;
  border: 1px solid gray;
  width: auto;
  height: auto;
  display: inline-block;
}
#elements h1 {
  text-align: center;
  font-size: 40px;
}
#elements p {
  text-align: center;
}
#elements .btn-delete {
  color: #ffffff;
  width: auto;
  height: auto;
  margin-left: 37%;
  display: inline;
}
.notTarget {
  margin-top: 150px;
}
/* ! fin alements */

/* ! incio edit */
#container{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

  /*! inicio index */
  .index {
    width: 94vw;
    height: 94vh;
  }
  .masthead {
    color: white;
    min-height: 30rem;
    width: 105%;
    height: 99%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url("../img/background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0px;
  }
  .masthead h1 {
    font-size: 5rem;
    margin: 0;
    padding: 0;
  }
  .btn-index {
    width: 300px;
    font-size: 30px;
  }
  /* !fin index */