<form action="/user/edit/{{users.id}}" method="post" id="container">
    <img src="/logo/logo.png" alt="">
    <input type="text" value="{{users.username}}" name="username" placeholder="nombre" required>
    <input type="text" value="{{users.password}}" name="password" placeholder="nombre" required>
    <input type="text" value="{{users.email}}" name="email" placeholder="email"required>
    <button type="submit" class="btn btn-success">guardar</button>
</form>