<div id="bodyForms">
    <form method="post" action="/signup"  id="registro">
        <img src="/logo/logo.png">
        <input type="text" id="nombre" placeholder="username" name="username" required>
        <input type="email" placeholder="Email" id="emailRegistro" name="email" required>
        <input type="password" placeholder="password" id="contraseñaRegistro" name="password" required>

        <br>
        <button type="submit" id="btnCrearRegistro">crear</button>
    </form>
</div>