<div id="bodyForms">
    <form action="/signin" method="POST">
        <img src="/logo/logo.png">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">

        <br>
        <button type="submit" id="inciarSesion">inciar sesion</button>

    </form>
</div>